<% if alert.present? %>
  <p class="mb-5 w-full inline-block rounded-lg bg-red-500 p-4 text-xl font-medium text-white" id="alert">
    <%= alert %>
  </p>
<% else %>
  <div id="alert"></div>
<% end %>
