<% if flash[:alert].present? %>
  <p class="py-2 px-3 bg-red-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="alert">
    <%= flash[:alert] %>
  </p>
<% else %>
  <div id="alert"></div>
<% end %>
