<header class="flex w-full flex-row items-center justify-between bg-blue-900 py-8 px-4 text-center text-4xl font-bold text-white">
  <div class="md:hidden fill-white hover:cursor-pointer" role="button" data-navbar-target="toggleButton" data-action="click->navbar#toggle">
    <%= image_tag "burger-menu-icon.svg" %>
  </div>
  <span class="mx-auto self-center justify-self-center">G-Scores</span>
</header>
