<% if notice.present? %>
  <p class="mb-5 w-full inline-block rounded-lg bg-red-50 p-4 text-xl font-medium text-green-500" id="notice">
    <%= notice %>
  </p>
<% else %>
  <div id="notice"></div>
<% end %>
