<nav class="flex h-screen min-h-[1980px] w-92 transform flex-col gap-8 bg-gradient-to-b from-yellow-400 to-cyan-700 px-2 py-8 text-xl transition-transform duration-300 ease-in-out"
     data-navbar-target="menu"
>
  <span class="self-center font-bold">Menu</span>
  <%= link_to "Report", student_scores_report_path %>
  <%= link_to "Search Scores", student_scores_search_path %>
  <%= link_to "Top 10 Group A Scores", student_scores_group_a_top_path %>
</nav>
